LIBRERIA/lista_libros.dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT libreria (libro*)>
<!ELEMENT libro (autores, titulo, editorial, fechaPublicacion, ISBN)>
<!ELEMENT autores (autor+)>
<!ELEMENT autor (apellido1, apellido2, nombre)>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fechaPublicacion (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>