PRACTICAS CFGS/PracticasCFGS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
    <xs:documentation xml:lang="Es-es">
      Esquema para almacenar el reseltado de las practicas de los alumnos
      <fecha>28/01/2022</fecha>
      <autor>Sergio Mateos Puerta</autor>
    </xs:documentation>
  </xs:annotation>
  <xs:element name="practicas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="alumnos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="alumno">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nif" type="xs:string" />
                    <xs:element name="resultado" type="xs:string" />
                    <xs:element name="observaciones" type="xs:string" />
                    <xs:element name="ip-mac" />
                  </xs:sequence>
                  <xs:attribute name="nombre" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>