CONCESIONARIO/concesionario.dtd

<?xml version='1.0' encoding='UTF-8'?>

<!ELEMENT concesionario (coche)*>
<!ELEMENT coche (codigo, marca, modelo, matricula, potencia, plazas, puertas)>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ELEMENT plazas (#PCDATA)>
<!ELEMENT puertas (#PCDATA)>