BDSMS/CASO REAL/WhatsAppXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
  <xs:documentation xml:lang="Es-es">
    Esquema para la app de WhatsApp
    <fecha>28/01/2022</fecha>
    <autor>Sergio Mateos</autor>
  </xs:documentation>
</xs:annotation>
  <xs:element name="WhatsApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="contactos">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="contacto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idUsuario" type="xs:unsignedShort" />
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="telefono" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mensajes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="mensaje">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idMensaje" type="xs:unsignedShort" />
                    <xs:element name="contacto" type="xs:string" />
                    <xs:element name="mensaje" type="xs:string" />
                    <xs:element name="hora" type="xs:time" />
                    <xs:element name="fecha" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="llamadas">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="llamada">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="idLlamada" type="xs:unsignedShort" />
                    <xs:element name="contacto" type="xs:string" />
                    <xs:element name="tipoLlamada" type="xs:string" />
                    <xs:element name="duracion" type="xs:time" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>